<footer class='w-full mt-2'>
  <div class='bg-slate-700 text-white p-2'>
    <div class="grid grid-cols-2 gap-2 justify-items-center">
      <div>
        <div class="text-lg font-bold">Schoolink</div>
        <div class="text-sm text-slate-400">学校間の<br>コミュニケーションを</div>
      </div>
      <div>
        <div class="font-bold">Social</div>
        <div class="text-slate-400">
          <div><a class="underline hover:no-underline" href="https://github.com/dev-trans/schoolink">GitHub</a></div>
        </div>
      </div>
    </div>
    <div class="text-center text-slate-400">
      &copy; 2023 TRANs
    </div>
  </div>
</footer>
